[submodule "libs-src/ImageCache"]
	path = libs-src/ImageCache
	url = http://mel-tools.mit.edu/git-ro/ImageCache.git
[submodule "libs-src/android-left-locked-gallery"]
	path = libs-src/android-left-locked-gallery
	url = http://mel-tools.mit.edu/git-ro/InfiniteGallery.git
[submodule "libs-src/actionbar-sherlock"]
	path = libs-src/actionbar-sherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "libs-src/LocastCore"]
	path = libs-src/LocastCore
	url = http://mel-tools.mit.edu/git-ro/LocastCoreAndroid.git
[submodule "libs-src/staticmap"]
	path = libs-src/staticmap
	url = http://mel-tools.mit.edu/git-ro/android-staticmap.git
