[submodule "libs-src/ImageCache"]
	path = libs-src/ImageCache
	url = git://github.com/mitmel/Android-Image-Cache.git
[submodule "libs-src/android-left-locked-gallery"]
	path = libs-src/android-left-locked-gallery
	url = git://github.com/mitmel/android-left-locked-gallery.git
[submodule "libs-src/actionbar-sherlock"]
	path = libs-src/actionbar-sherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "libs-src/LocastCore"]
	path = libs-src/LocastCore
	url = git://github.com/mitmel/Locast-Core-Android.git
[submodule "libs-src/staticmap"]
	path = libs-src/staticmap
	url = git://github.com/mitmel/android-staticmap.git
