[submodule "libs-src/ImageCache"]
	path = libs-src/ImageCache
	url = http://mel-tools.mit.edu/git-ro/ImageCache.git
[submodule "libs-src/SimpleContentProvider"]
	path = libs-src/SimpleContentProvider
	url = http://mel-tools.mit.edu/git-ro/SimpleContentProvider.git
[submodule "libs-src/android-left-locked-gallery"]
	path = libs-src/android-left-locked-gallery
	url = https://github.com/TheLevelUp/android-left-locked-gallery.git
